{% extends "base.html" %}

{% block content %}

    {% if blogs|length == 0 %}
    <p>No entries yet</p>
    {% else %}
        {% for blog in blogs %}
            {% if loop.index > 1 %}
                <hr />
            {% endif %}
            {% if view == 'single' %}
            <article>
                <header>
                    <h1 align = 'center'>{{blog.title}}</h1>
                </header>
                <p>{{blog.body}}</p>
                <footer>
                    <p>by <a href="blog?user={{blog.owner.username}}">
                        {{blog.owner.username}}</a></p>
                </footer>
            </article>
            {% else %}
            <article>
                <header>
                    <a href="blog?id={{blog.id}}"><h1>{{blog.title}}</h1></a>
                </header>
                <p>{{blog.body}}</p>
                <footer>
                    <p>by <a href="blog?user={{blog.owner.username}}">
                        {{blog.owner.username}}</a></p>
                </footer>
            </article>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endblock %}